// Colours
$background-color: #ffffff;
$primary-color: #4f372f;
$primary-color-hover: #4f372f;
$nav-background-color: #4f372f;
$banner-background-color: #36231C;

// media-queries
$small-width: 560px;

// static images
$banner-image: "https://preodemo.gumlet.io/usr/venue/7602/web/646fbf3abf9d0.png";
