.navbar {
  display: flex;
  justify-content: center;
  background-color: brown;
}

.navbar_items {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 10px;
}

.navbar_items__item {
  padding: 0 4rem 10px 4rem;
  font-size: 16px;
  text-decoration: none;
  color: white;

  &--active {
    @extend .navbar_items__item;
    border-bottom: 3px solid white;
  }
}

